* {
  padding: 0;
  margin: 0;
}

button, input, label{
  cursor: pointer;
}

ul{
  list-style: none;
}

@font-face {
  font-family: patagonian;
  src:url(PatagoniaPatagonian-Titles.ttf);
}

@font-face {
  font-family: KeepCalm;
  src:url(KeepCalm-Medium.ttf);
}

.bodyappradio{
  background-image: url("../static/modelo-appradio.jpeg");
  background-repeat: no-repeat;
  background-color: rgb(208, 189, 122);
  background-position: center;
  background-size: 50vw;
  background-position: 50% 7em;
}

img#tapamodeloradio{
  display: none;
  position: absolute;
  top: 7em;
  left: 0%;
  width: 50vw;
  z-index: 3;
}

img#tapamodeloradioTV{
  display: block;
  position: absolute;
  top: -5.5em;
  left: -12em;
  width: 50vw;
  z-index: 1;
}

div.contenedorEncabezado{
  display: grid;
  grid-template-areas:
    "titulo redes";
  grid-template-columns: 12vw 37vw;
  background-color: #e93e1f;
  color: #ffffff;
  width: 50vw;
  height: 7em;
  align-items: initial;
  justify-items: center;
  position: relative;
  top: 0;
  left: 25%;
  z-index: 4;
  grid-column-gap: 1vw;

}

.titulo{
  grid-area: titulo;
  background-color: white;
  width: 100%;
  height: 7em;
}

h1{
  font-family: patagonian;
  font-size: x-small;
  position: absolute;
  left: -10000px;
}

.titulo img{
width: 100%;
}

.red{
  grid-area: redes;
  display: grid;
  grid-template-areas: "cambiar red logo"
                        "banda banda vacio";
  grid-template-columns: 16vw 16vw 5vw;
  grid-template-rows: 7em auto;
  align-items: center;
}

.red input{
  display: none;
}

.red label.menuredes{
  display: none;
  position: relative;
  height: 3em;
  width: 15vw;
  margin-top: 0;
  background-color: rgb(126, 126, 126);
  border: 1px solid;
  border-radius: 3px;
  z-index: 6;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
}

#ElegirBanda{
  grid-area: cambiar;
  background-color: rgba(158, 108, 108, 0.83);
  height: 5em;
  width: 13vw;
  margin-top: 0;
  border: 1px solid;
  z-index: 5;
  align-items: center;
  display: flex;
  padding-left: 1em;
  font-size: 1em;
}

#ElegirBanda p{
  font-size: 2em;
}

#ElegirBanda:hover{
  background-color: rgba(158, 108, 108, 0.63);
  color: white;
  border: 1px solid black;
}

.red label:hover{
  color: black;
}

input[type="checkbox"]:checked ~ label.menuredes{
  display: flex;
}

input[type="checkbox"]:checked ~ img#tapamodeloradio{
  display: block;
}

input[type="checkbox"]:checked + label h4.aceptarRed{
  display: flex;
}

input[type="checkbox"]:checked + label h4.cambiarRed{
  display: none;
}

.red input.redes:checked + label{
  display: flex;
  grid-area: red;
  position: relative;
  top: 0;
  right: 0;
  color: black;
  cursor: context-menu;
  height: 5em;
  width: 15vw;
  margin-top: 0;
  background-color: rgb(126, 126, 126);
  border: 1px solid;
  border-radius: 3px;
  z-index: 6;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
}

.red input#COMECUCO:checked ~ #logoCOMECUCO{
  display: block;
}

.red input#FARCO:checked ~ #logoFARCO{
  display: block;
}

.red input#RNMA:checked ~ #logoRNMA{
  display: block;
}

.red input#AMARC:checked ~ #logoAMARC{
  display: block;
}

.red input#RadiosLibres:checked ~ #logoRadiosLibres{
  display: block;
}

h2{
  font-family: patagonian;
  text-align: center;
  z-index: 5;
}

h4{
  font-family: KeepCalm;
  font-size: 1.3em;
  text-align: center;
  margin: 1em;
}

h4.aceptarRed{
  display: none;
}

h5{
  font-family: KeepCalm;
  font-size: 1.3em;
  text-align: center;
  margin: auto;
}

img.logo{
  grid-area: logo;
  display: none;
  justify-self: center;
  width: 4vw;
  margin-top: 0;
}

div.dial{
  display: grid;
  position: absolute;
  top: 24em;
  left: 32.5vw;
  grid-template-areas:
    "leftdial dial dial rightdial"
    "volumen pregrabado pregrabado tv";
  grid-template-columns: 8vw 11vw 12vw 5vw;
  grid-row-gap: 0.5em;
  /*background-color: #808384;*/
  z-index: 1;
}

.dial button#anterior{
  grid-area: leftdial;
}

.dial button#posterior{
  grid-area: rightdial;
}

.dial button.sintonizador{
  border-radius: 50px;
  font-size: 2.4em;
  width: 1.4em;
  background-color: rgba(252, 216, 139, 0.44);
}

.dial button.sintonizador:hover {
  color: #FFFFFF !important;
  background-color: rgba(252, 216, 139, 0.14);
}

div.espectro{
    display: grid;
    grid-area: dial;
    width: 18vw;
    height: 2em;
    background-color: rgba(252, 216, 139, 0.44);
    border: 1px solid;
    border-radius: 5px;
    align-content: center;
}

div.espectro li{
  display: none;
}

div.espectro li.activo{
  display: block;
}

div.espectro li.activo audio{
  position: absolute;
  left: -10000px;
}

div.cajavideo{
  position: absolute;
  top:-12em;
  left: 6em;
  z-index: 2;
}

iframe{
  z-index: 2;
  position: relative;
}

.dial .volumen{
  grid-area: volumen;
}

.dial .volumen input{
  width: 8vw;
  height: 0.5em;
}

ul#botoneraDeMemorias{
  grid-area: pregrabado;
  margin-left: 1em;
  display: flex;
}

ul#botoneraDeMemorias li{
  margin-right: 1em;
}

/*desde aca codigo para la barra de volumen*/

input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: rgba(252, 216, 139, 0.44);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #28242B;
  border: 1px solid #FAFFB5;
  height: 12px;
  width: 11px;
  border-radius: 50px;
  background: #B0A13C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(252, 216, 139, 0.44);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: rgba(252, 216, 139, 0.44);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #28242B;
  border: 1px solid #FAFFB5;
  height: 12px;
  width: 11px;
  border-radius: 50px;
  background: #B0A13C;
  cursor: pointer;
}

/*desde acá botones para memoria de radios*/

.testbutton {
  font-family: KeepCalm;
  color: #000000 !important;
  font-size: 1.2em;
  padding: 6px 6px;
  border-radius: 10px;
  border: 1px solid #000000;
  background: rgba(252, 216, 139, 0.44);
}

.testbutton:hover {
  color: #FFFFFF !important;
  background: #CFA329;
}


@media screen and (orientation: portrait) {

  .bodyappradio{
    background-size: 100vw;
    background-position: 50% 10em;
  }

  img#tapamodeloradio{
    top: 10em;
    left: 0%;
    width: 100vw;
  }

  img#tapamodeloradioTV{
    top: -8em;
    left: -20em;
    width: 100vw;
  }

  div.contenedorEncabezado{
    grid-template-columns: 24vw 74vw;
    width: 100vw;
    height: 10em;
    top: 0;
    left: 0%;
    grid-column-gap: 2vw;
  }

  .titulo{
    height: 10em;
  }

  .red{
    grid-template-columns: 30vw 30vw 14vw;
    grid-template-rows: 10em auto;
  }

  .red label.menuredes{
    height: 6em;
    width: 26vw;
  }

  #ElegirBanda{
    height: 5em;
    width: 26vw;
    padding-left: 1em;
    font-size: 1.5em;
  }

  .red input.redes:checked + label{
    top: 0;
    right: 0;
    height: 8em;
    width: 26vw;
    margin-top: 0;
  }

  h2{
    font-size: 2em;
  }

  h5{
    font-size: 1.7em;
  }

  img.logo{
    width: 12vw;
  }

  div.espectro{
      top: 35.8em;
      left: 32vw;
      width: 36vw;
      height: 4em;
  }

  div.dial{
    top: 36em;
    left: 15.5vw;
    grid-template-columns: 16vw 26vw 19vw 10vw;
    grid-row-gap: 1.5em;
  }

  .dial button.sintonizador{
    font-size: 3.4em;
  }

  div.espectro{
      width: 36vw;
      height: 4em;
  }

  div.cajavideo{
    top:-18em;
    left: 10em;
  }

  div.cajavideo iframe{
    width: 352px;
    height: 198px;
  }

  .dial .volumen input{
    width: 12vw;
    height: 0.5em;
  }

  ul#botoneraDeMemorias{
    margin-left: 1em;
  }

  ul#botoneraDeMemorias li{
    margin-right: 1em;
  }


  .testbutton {
    font-size: 1.8em;
    padding: 10px 10px;
    border-radius: 10px;
  }
