ul {
    padding: 0;
    list-style-type: none;
}

@font-face {
  font-family:patagonian;
  src:url(PatagoniaPatagonian-Titles.ttf);
}

body{
  display: grid;
  /*widescreen size:*/
  grid-template-areas:
    "logo logo topMenu topMenu"
    "clima clima buscador buscador"
    "loMasLeido calecita calecita mediosEnVivo"
    "loMasLeido calecita calecita video"
    "loMasLeido calecita calecita resumenSemanal"
    "loMasLeido mediosMenu mediosMenu mediosMenu"
    "actualidad actualidad actualidad actualidad"
    "produccionesColectivas produccionesColectivas produccionesColectivas produccionesColectivas"
    "columnas columnas columnas columnas"
    "footer footer footer footer";
}

.logo,
.topMenu,
h2,
.mediosEnVivo,
.resumenSemanal  {
  background: #e93e1f;
  color:white;
}

.logo{
  grid-area:logo;
  width: 100%;
}
.topMenu{
  grid-area:topMenu;
  width: 100%;
}

.clima{
  grid-area: clima;
}
.buscador{
  grid-area:buscador;
}
.clima, .buscador{
  background:#808384;
}
.loMasLeido{
  grid-area:loMasLeido;
  margin-left:2ch;
  margin-right:1ch;
}
.calecita{
  grid-area: calecita;
}
.mediosEnVivo{
  grid-area: mediosEnVivo;
}
.video{
  grid-area:video;
}
.resumenSemanal{
  grid-area: resumenSemanal;
}
.mediosMenu{
  grid-area:mediosMenu;
}

.mediosMenu h2{
  width: max-content;
  padding-right: 8ch;
}

.mediosMenu li{
  height:6em;
  display: inline-block;
  margin-right: 2ch;
}

.mediosMenu img{
  height:100%;
}

.actualidad{
  grid-area: actualidad;
}
.produccionesColectivas{
  grid-area: produccionesColectivas;
}
.columnas{
  grid-area: columnas;
}
.footer{
  grid-area:footer;
}

/*logo*/
.logo {
    font-family: patagonian;
    padding-left: 10%;
    padding-bottom:1em;
}

.logo .subtitle {
    text-transform: uppercase;
    font-size: small;
    opacity: 0.7;
}

.logo h1 {
    margin-bottom: 0;
    font-size: xxx-large;
}

/*lo mas leido */
.loMasLeido a {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 1ch;
    grid-template-areas:
        "img title"
        "img fecha";
    text-decoration: none;
    color: black;
}


.loMasLeido a img {
    grid-area: img;
}

.loMasLeido li {
    margin-bottom: 1em;
}

.loMasLeido .title {
    width: 20ch;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
}

.loMasLeido .fecha {
    color: gray;
    font-size: small;
}

/*unsorted*/

.clima {
    color: white;
    font-family: 'patagonian';
    padding-left: 10%;
    padding-top: 0.8em;
    font-size: large;
    height: 2em;
}

.buscador {
    text-align: right;
    padding-right: 3ch;
}

.topMenu a {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

.topMenu li {
    display: inline-block;
    font-size: large;
    margin-right: 2ch;
}

.topMenu ul {
    padding-top: 1.4em;
}

.blockRight {
    text-align: center;
}

form.buscador {
    width: max-content;
    background: #e93e20;
    padding: 6px;
    border-radius: 14px;
    margin-top: 2px;
    margin-bottom: auto;
    display: inline-grid;
    grid-template-columns: auto auto;
}

input#searchSubmit {
    display: none;
}

input#search {
    border-radius: 15px;
    border: 1px solid gray;
}
