ul {
    padding: 0;
    list-style-type: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family:patagonian;
  src:url(PatagoniaPatagonian-Titles.ttf);
}

@font-face {
  font-family: KeepCalm;
  src:url(KeepCalm-Medium.ttf);
}

:root {
  --espacio: 5ch;
}

body{
  display: grid;
  /*widescreen size:*/
  grid-template-areas:
    "logo logo topMenu topMenu"
    "clima clima buscador buscador"
    "loMasLeido calecita calecita mediosEnVivo"
    "loMasLeido calecita calecita video"
    "loMasLeido calecita calecita resumenSemanal"
    "loMasLeido mediosMenu mediosMenu mediosMenu"
    "destacadas destacadas destacadas destacadas"
    "actualidad actualidad actualidad actualidad"
    "produccionesColectivas produccionesColectivas produccionesColectivas produccionesColectivas"
    "columnas columnas columnas columnas"
    "footer footer footer footer";
  grid-template-columns: 22% 28% 28% 22%;
}

/*margin derecha/izquierda casi-total*/
.destacadas,
.produccionesColectivas{
  padding-left: var(--espacio);
  padding-right: var(--espacio);
  margin-top: 20px;
}
.actualidad,
.columnas{
  margin-left:var(--espacio);
  margin-right:var(--espacio);
}
/*margin derecha/izquierda casi-total*/
.destacadas,
.produccionesColectivas{
  padding-left:5ch;
  padding-right:5ch;
}
.actualidad,
.columnas{
  margin-left:5ch;
  margin-right:5ch;
}

.logo,
.topMenu,
h2,
.mediosEnVivo,
.resumenSemanal  {
  background: #e93e1f;
  color:white;
}

h2{
    font-family: patagonian;
    font-size: large;
}

h3{
    font-family: KeepCalm;
}

h3 a{
    font-family: KeepCalm;
    color: #000;
    font-size: xx-large;
    text-decoration: none;
}

.fecha{
  font-family: KeepCalm;
  font-size: smaller;
}

.logo{
  grid-area:logo;
  width: 100%;
}

.topMenu{
  grid-area:topMenu;
  width: 100%;
}

.clima{
  grid-area: clima;
}

.buscador{
  grid-area:buscador;
  text-align: right;
  padding-right: 2ch;
  position: relative;
}
.clima, .buscador{
  background:#808384;
}
.loMasLeido{
  grid-area:loMasLeido;
  margin-left:2ch;
  margin-right:1ch;
  margin-top: 5px;
}
.loMasLeido ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  margin: 0;
}
.calecita{
  grid-area: calecita;
  margin-top: 4px;
  padding-left: 2ch;
}

.calecita .subtitle{
  font-family: KeepCalm;
}

.calecita .autor{
  font-family: KeepCalm;
  padding-bottom: 1em;
}

.mediosEnVivo{
  grid-area: mediosEnVivo;
}
.video{
  grid-area:video;
}
.resumenSemanal{
  grid-area: resumenSemanal;
}
.mediosMenu{
  grid-area:mediosMenu;
  padding-left: 2ch;
  margin-top: 10px;
}

.mediosMenu h2,
.destacadas h2,
.produccionesColectivas h2,
.columnas h2{
  width: max-content;
  padding-right: 8ch;
}

.mediosMenu ul{
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
flex-wrap: wrap;
}

.mediosMenu li{
  height:6em;
  display: inline-block;
  margin-right: 2ch;
}

.mediosMenu img{
  height:100%;
}

.destacadas{
  grid-area: destacadas;
}
.actualidad{
  grid-area: actualidad;
}
.produccionesColectivas{
  grid-area: produccionesColectivas;
}
.columnas{
  grid-area: columnas;
}
.footer{
  grid-area:footer;
}

/*logo*/
.logo {
    font-family: patagonian;
    padding-bottom:1em;
}

.logo .subtitle {
    text-transform: uppercase;
    font-size: small;
    opacity: 0.7;
    margin-left: 5vw;
}

.logo h1 {
    margin-bottom: 0;
    font-size: xxx-large;
    margin-left: 5vw;
}

.logo h1 a {
    color: #ffffff;
    text-decoration: none;
  }

/*lo mas leido */

.loMasLeido h2,
.mediosMenu h2,
.destacadas h2,
.produccionesColectivas h2,
.columnas h2{
    padding-left: 3ch;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.loMasLeido a {
    display: grid;
    grid-template-areas:
        "img title"
        "img fecha";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 1ch;
    text-decoration: none;
    color: black;
}


.loMasLeido a img {
    grid-area: img;
}

.loMasLeido li {
    margin-bottom: 1em;
}

.loMasLeido .title {
    font-weight: bold;
    margin: 0;
    line-height: 1em;
}

.loMasLeido .fecha {
    color: gray;
    font-size: small;
}

/*carusel*/
.caruselpreviewimage{
  width:100%;
}

.puntito{
  width:1.5ch;
  height:1.5ch;
  border-radius: 50%;
  border:1px solid black;
  background:white;
  display: inline-block;
  margin-left: 1px;
}

.puntito.activo{
  background: red;
}
.puntitos{
  position:absolute;
  bottom:8%;
  left:42%;
}
.calecita li{
  position:relative;
  display: none;
}

.calecita li.activo{
  display: block;
}

/*unsorted*/

.clima {
    color: white;
    font-family: 'patagonian';
    padding-left: 5vw;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: large;
    display: inline-block;
}

#hora {
      display: inline-block;
}

.topMenu a {
    text-decoration: none;
    color: white;
    font-family: KeepCalm;
	  font-size: Medium;
}

.topMenu li {
    display: inline-block;
    margin-right: 2ch;
}

.topMenu ul {
    padding-top: 1.4em;
    text-align: right;
    line-height: 2em;
}

.blockRight {
    text-align: center;
    width:90%;
    justify-self: center;
    margin: 20px auto 0;
}

.blockRight.video img{
  width:100%;
}

.blockRight audio{
  width:90%;
}

.blockRight.mediosEnVivo{
  display: grid;
  grid-template-areas:
  "titulo titulo titulo"
  "prev medio prox"
  "vacio medio nada";
  grid-template-columns: 50px auto 50px;
  grid-gap: 5px;
  /*align-items:center;*/
}

.blockRight.mediosEnVivo h2{
  grid-area:titulo;
  margin-top: 0.8em;
  margin-bottom: 1.5px;
}
.blockRight.mediosEnVivo ul{
  grid-column: 1/4;
  grid-row: 2/4;
  margin:0;
  padding: 0;
}

.blockRight.mediosEnVivo button{
  grid-area:play;
  width:2ch;
  height:2ch;
  justify-self: center;
}
.blockRight.mediosEnVivo audio{
  grid-area:play;
  justify-self:center;
  align-self:center;
}

.blockRight.mediosEnVivo .nombre{
  grid-area:nombre;
}

.blockRight.mediosEnVivo .arrowLeft{
  grid-area:prev;
}
.blockRight.mediosEnVivo .arrowRight{
  grid-area:prox;
}

.blockRight audio{
  display:none;
}

.blockRight .playing audio,
.blockRight.playing audio{
  display:block;
  max-width: 60%;
}
.blockRight .playing .playbutton,
.blockRight.playing .playbuttonResumen{
  display:none;
}

.blockRight.mediosEnVivo li{
  display: none;
}
.blockRight.mediosEnVivo li.activo{
  display: grid;
  grid-template-areas:
  "play"
  "nombre";
  grid-template-rows: 1fr 1em;
  padding-bottom: 0.5em;
  grid-gap: 0.5em;
}

a.videolink {
    position: relative;
}

.duration {
    position: absolute;
    right: 0.5ch;
    bottom: 1ch;
    background: black;
    color: white;
    font-family: patagonian;
    font-size: large;
    font-weight: bold;
    padding-left: 1ch;
    padding-right: 0.5ch;
}

.blockRight.resumenSemanal {
	display: grid;
	grid-template-areas: "titulo titulo" "play logo";
	grid-template-columns: auto 55%;
	grid-gap: 5px;
	align-items: center;
}

.blockRight.resumenSemanal h2{
  grid-area: titulo;
  margin: 0.5em;
}

.blockRight.resumenSemanal.playbuttonResumen{
  grid-area: play;
}

.blockRight.resumenSemanal.logoResumen{
  grid-area: logo;
}

.playbuttonResumen{
  background: rgba(255,255,255,0.3);
  border-radius:50%;
  border:none;
  font-size: 3em;
  color: rgb(233, 62, 31);
  padding: 1px 12px 7px 14px;
  margin: 0 0 0.4em auto;
}

.logoResumen{
  grid-area:logo;
  width: 65%;
  opacity: 0.3;
  margin: 0 auto 1.5em 0;
}

.nombre{
  font-family: KeepCalm;
  font-size: Medium;
  margin: 0.5em 0;
}

.arrowLeft,
.arrowRight{
  background: rgba(255,255,255,0.3);
  color: rgb(233, 62, 31);
  font-size: x-large;
  border-radius: 5px;
  border:none;
  display: block;
  text-decoration: none;
  font-weight:bold;
}

.arrowLeft{
  margin: 37% 0 auto 0;
  padding: 0 4px 4px 4px;
}
.arrowRight{
  margin: 37% 0px auto 0;
  padding: 0 4px 4px 4px;
}

.playbutton{
  background: rgba(255,255,255,0.3);
  border-radius:50%;
  border:none;
  font-size: 3em;
  color: rgb(233, 62, 31);
  padding: 0px 3px 0px 7px;
}

form.buscador {
	width: 80%;
  max-width: 30ch;
	background: #e93e20;
	padding: 1px 5px 1px 5px;
	border-radius: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-grid;
	grid-template-columns: auto 50px;
  position: absolute;
  right: 2ch;
  bottom: auto;
  left: auto;
  top: 50%;
  transform: translateY(-65%);
}

form.buscador label{
  width: max-content;
  margin: auto 0 auto auto;
}

input#searchSubmit {
    display: none;
}

input#search {
	border-radius: 15px;
	border: 1px solid gray;
	width: 100%;
	height: 1.5em;
	margin: auto auto;
  padding-left: 1ch;
}

/*destacadas y actualidad */

.destacadas{
  background: #7f8384;
}

.actualidad .grandes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10ch;
  margin-bottom:5em;
}
.destacadas .destacadas-list,
.actualidad .chiquitas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:8ch;
  margin-bottom: 5em;
}
.destacadas img,
.actualidad img{
	display: inline-block;
  width: 100%;
}

.destacadas li .resumen,
.actualidad li .resumen{
	font-family: KeepCalm;
  font-size: medium;
  font-style: italic;
}
/*tags arriba del imagen*/

.destacadas-list li {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.destacadas-list img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1/2;
}

.destacadas-list .tag {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1/2;
    margin-left: 3ch;
    padding: 0.4em 2ch 0 2ch;
    background: #d6ab2b;
    width: max-content;
    text-transform: uppercase;
    font-weight:bold;
    font-style:italic;
    font-size:large;
}

.chiquitas li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 5em;
}

.chiquitas .fecha {
    grid-column: 2;
}

.chiquitas img {
    grid-row: 1/3;
    grid-column: 1/2;
}

.chiquitas h3 a {
    font-size: medium;
}

.chiquitas h3 {
    margin-top: 0.1em;
}


.chiquitas li{
    display:grid;
    grid-template-areas:"image titulo" "image fecha";
}

.chiquitas h3{
    grid-area:titulo;
    margin-top:0.1em;
    margin-bottom:0.3em;
}

.chiquitas img{
    grid-area:image;
}

.chiquitas .fecha{
    grid-area:fecha;
}

.chiquitas a{
    font-size:medium;
}
 /*producciones colectivas:*/
 .produccionesColectivas{
   background: #7f8384;
 }
 .produccionesColectivas ul{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1em;
 }

 .produccionesColectivas li{
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto 1fr;
   grid-gap: 1em;
 }

 .produccionesColectivas img{
   grid-column: 1/2;
   grid-row: 1/3;
 }

 .produccionesColectivas h3{
   grid-column: 2/3;
   grid-row: 1/2;
   margin-top: 0;
   margin-bottom: 0;
 }

 .produccionesColectivas .titulocolectiva{
   grid-column: 2/3;
   grid-row: 2/3;
 }


 /*columnas*/
#cajacolumnahija{
  position: relative;
  z-index: 1;
  background-color: #e93e1f;
  height: 150px;
  width: 100%;
  /*margin-top: 130px;*/
  display: inline-block;
  grid-column: 1/4;
  grid-row: 1/2;
  max-width:95vw;
}

.columnas-wrapper{
  display:grid;
  grid-template-columns: 10ch 1fr 10ch;
  text-align: center;
  max-width:95vw;
  justify-items: center;
  align-items: center;
  /*top: -125px;*/
}

.columnas-ul-wrapper{
  width:90%;
  overflow-x:auto;
  scroll-behavior: smooth;
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  z-index: 2;
}

.columnas ul {
  width: max-content;
  position: relative;
}

.columnas li {
  display: inline-block;
  margin-right: 2ch;
  width: 25vw;
}

.columnas h2 a,
.produccionesColectivas h2 a{
  text-decoration: none;
  color: white;
  font-family: patagonian;
  font-size: Medium;
}

.columnas a{
  text-decoration: none;
  color: black;
  font-size: Medium;
}

.columnas .ultimoli{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 40%;
  margin: auto;
  width: 11ch;
  margin-left: 2ch;
}

.columnas .finalscroll{
  font-size: large;
  text-align: center;
  font-weight: bold;
  font-family: keepcalm;
  line-height: 3ch;
}

.columnas img{
  width:100%;
}

.scrollbutton.izquierda,
.scrollbutton.derecha{
  background: rgba(127, 131, 132, 0.8);
  color: rgb(233, 62, 31);
  font-size: xxx-large;
  border-radius: 5px;
  border:none;
  display: inline-block;
  text-decoration: none;
  font-weight:bold;
  width: 1.5ch;
  height: 4ch;
  text-align: center;
  position: relative;
}

.scrollbutton.izquierda{
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 3;
}

.scrollbutton.derecha{
  grid-row: 1/2;
  grid-column: 3/4;
  z-index: 4;
}

 @media screen and (orientation: portrait) {
   body{
     grid-template-areas:
 /*    "logo logo topMenu topMenu"
     "clima clima buscador buscador"
     "loMasLeido calecita calecita mediosEnVivo"
     "loMasLeido calecita calecita video"
     "loMasLeido calecita calecita resumenSemanal"
     "loMasLeido mediosMenu mediosMenu mediosMenu"
     "destacadas destacadas destacadas destacadas"
     "actualidad actualidad actualidad actualidad"
     "produccionesColectivas produccionesColectivas produccionesColectivas produccionesColectivas"
     "columnas columnas columnas columnas"
     "footer footer footer footer";*/
     "logo logo topMenu"
     "clima clima buscador"
     "mediosEnVivo video resumenSemanal"
     "calecita calecita calecita"
     "mediosMenu mediosMenu mediosMenu"
     "loMasLeido loMasLeido loMasLeido"
     "destacadas destacadas destacadas"
     "actualidad actualidad actualidad"
     "produccionesColectivas produccionesColectivas produccionesColectivas"
     "columnas columnas columnas"
     "footer footer footer";
     grid-template-columns: 1fr 1fr 1fr;
   }
   .destacadas .destacadas-list,
   .actualidad .chiquitas{
      grid-template-columns: 1fr;
   }
   .produccionesColectivas ul{
     display:block;
   }
   .produccionesColectivas li{
     margin-bottom: 3em;
   }
 }

/*a partir de aca subpagina de TODAS LAS NOTICIAS*/

 body.todaslasnoticias{
   display: grid;
   /*widescreen size:*/
   grid-template-areas:
     "logo logo topMenu topMenu"
     "clima clima buscador buscador"
     "últimas últimas últimas últimas"
     "viejas viejas viejas viejas"
     "footer footer footer footer";
 }

 .noticiasúltimas{
   grid-area: últimas;
 }

 .topMenu #sinmenu{
   display: none;
 }

 .noticiasviejas{
   grid-area: viejas;
 }

 .noticiasúltimas .últimas{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap:5ch;
   margin-bottom:2em;
 }
 .noticiasviejas .viejas{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 4ch;
 }

  .últimas img,
  .viejas img{
    width: 100%;
  }

  .últimas li .resumen{
  	font-family: KeepCalm;
    font-size: medium;
    font-style: italic;
  }

  .viejas h3{
      margin-bottom: 0.5em;
  }

  .viejas h3 a{
      font-size: large;
  }

  @media screen and (orientation: portrait) {
    .noticiasúltimas .últimas, .noticiasviejas .viejas{
      display: block;
      margin-bottom: 0;
    }
    .últimas li, .viejas li{
      margin-bottom: 2em;
    }
  }

/*a partir de aca subpagina de UNA NOTICIA*/

  body.unanoticia{
    display: block;
  }

  .unanoticia .logo{
    padding-top: 2em;
  }

  .unanoticia .logo h1{
    margin-top: 0;
  }

  .unanoticia .clima{
    display: block;
  }

  .lanoticia{
    font-family: keepcalm;
    margin: 2em;
  }

  .lanoticia h3{
    font-size: 2.5em;
  }

  .lanoticia h4{
    font-size: 1.5em;
    font-style: italic;
  }

  .fotonoticia{
    display: grid;
    float: right;
  }

  .fotonoticia img.foto1{
    max-width: 55vw;
    padding-left: 1ch;
  }

  .fotonoticia p.textofoto{
    text-align: right;
    font-style: italic;
  }

  .lanoticia img.logoautor{
    float: left;
    max-width: 10%;
    padding-right: 1ch;
    padding-bottom: 1ch;
  }

  .contenido p{
    text-align: justify;
    font-weight: lighter;
    text-indent: 2ch;
    line-height: 1.5em;
  }

.audiosyvideos, .Editaudiosyvideos{
  background-color: #e93e1f;
  padding: 1ch 5vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

.audiosyvideos div.cuadrocontrol,
.Editaudiosyvideos div.cuadrocontrol{
  display: inline-block;
  background-color:  rgb(34, 34, 34);
  font-size: 0;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 350px;
  position: relative;
  }

  #tituloAudio{
    font-size: 1em;
    color: white;
    margin-top: 0;
    }

  .cuadrocontrol a{
    font-size: 32px;
    position: absolute;
    top: 0;
    }

  @media screen and (max-width: 924px) {
    .audiosyvideos{
      display: grid;
      grid-template-columns: auto;
      grid-row-gap: 0;
    }
  }

  @media screen and (orientation: portrait) {
    .fotonoticia{
      display: contents;
      margin-bottom: 0;
    }

    .fotonoticia img.foto1{
      max-width: 100%;
    }

    .lanoticia p.textofoto{
      text-align: center;
    }
  }

/*a partir de aca subpagina de TODAS LAS COLUMNAS*/

  body.subtodaslascolumnas{
    display: block;
  }

  .subtodaslascolumnas .logo{
    padding-top: 2em;
  }

  .subtodaslascolumnas .logo h1{
    margin-top: 0;
  }

  .subtodaslascolumnas .clima{
    display: block;
  }

  .todaslascolumnas{
    font-family: keepcalm;
    margin: 2em;
  }

  .lascolumnas li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto);
    margin-top: 3em;
    grid-row-gap: 1em;
  }

  .lascolumnas div.contenedorlogo{
    grid-column: 1/2;
    grid-row: 1/6;
    position: relative;
  }

  .lascolumnas a img{
    max-width: 40vw;
    margin-right: 1em;
  }

  .lascolumnas img.logoautor{
    max-width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
  }

  .lascolumnas li h3{
    margin: 0;
  }

  .lascolumnas li div.resumen{
    line-height: 1.5em;
  }

  @media screen and (max-width: 950px) {
    .lascolumnas li div.resumen{
      grid-column: 1/3;
    }

    .lascolumnas div.contenedorlogo{
      grid-row: 1/5;
    }
  }

  @media screen and (orientation: portrait) {
    .lascolumnas li{
      display: block;
    }

    .lascolumnas li div,
    .lascolumnas li h3{
      margin-bottom: 1em;
    }

    .lascolumnas img.fotocolumna{
      max-width: 100%;
    }
    .lascolumnas img.logoautor{
      max-width: 25%;
    }
  }

  /*a partir de aca subpagina de CAPITULO DE COLUMNA*/

    body.subcapitulodecolumna{
      display: block;
    }

    .subcapitulodecolumna .logo{
      padding-top: 2em;
    }

    .subcapitulodecolumna .logo h1{
      margin-top: 0;
    }

    .subcapitulodecolumna .clima{
      display: block;
    }

    .capitulodecolumna{
      font-family: keepcalm;
      margin: 1em;
      display: grid;
      grid-template-columns: 1.5fr 2fr 0.7fr;
      grid-gap: 1em;
    }

    .capitulodecolumna img.logoautor{
      grid-column: 3/4;
      width: 100%;
      align-self: center;
    }

    .capitulodecolumna h2{
      font-size: 2em;
      line-height: 1.5em;
      text-align: center;
      margin: 0;
      background: none;
      color: black;
      align-self: center;
    }

    .capitulodecolumna h2 a{
      color: black;
      text-decoration: none;
    }

    .capitulodecolumna ul{
      margin: 0;
      text-align: center;
    }

    .capitulodecolumna div{
      line-height: 1.5em;
      margin-bottom: 1ch;
    }

    .subcapitulodecolumna h2.cap{
      background: #e93e1f;
      color:white;
      padding-left: 5vw;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
    }

    .capitulo li{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4,auto);
      grid-gap: 1em;
      margin-bottom: 2em;
      margin-left: 5vw;
      margin-right: 5vw;
    }

    .capitulo li img{
      max-width: 40vw;
      grid-column: 1/2;
      grid-row: 1/4;
      align-self: center;
      justify-self: center;
    }

    .capitulo li h3{
      margin-bottom: 0;
    }

    .capitulo div.reproductor{
      grid-column: 1/2;
      grid-row: 4/5;
      justify-self: center;
      display: inline-block;
      background-color:  rgb(71, 71, 71);
      font-size: 0;
      margin: 0;
      padding: 0;
      height: 40px;
      width: 350px;
      position: relative;
    }

    .capitulo div.resumen{
      grid-row: 3/5;
    }

    .reproductor a{
      font-size: 32px;
      position: absolute;
      top: 0;
    }

    @media screen and (max-width: 750px) {
      .capitulo li{
        display: block;
        margin-bottom: 2em;
        margin-left: 5vw;
        margin-right: 5vw;
      }

      .capitulo li img{
        max-width: 80vw;
      }

      .capitulo li div,
      .capitulo li h3{
        margin-bottom: 1em;
      }
    }


    @media screen and (orientation: portrait) {

      .capitulodecolumna{
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        grid-template-rows: auto auto;
        grid-gap: 1em;
      }
      .capitulodecolumna img.logoautor{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        align-self: center;
      }
      .capitulodecolumna ul{
        grid-column: 1/3;
      }
    }

    /*a partir de aca subpagina de CADA MEDIO*/

      body.subpaginamedio{
        display: block;
      }

      .subpaginamedio .logo{
        padding-top: 2em;
      }

      .subpaginamedio .logo h1{
        margin-top: 0;
      }

      .subpaginamedio .clima{
        display: block;
      }

      .paginamedio{
        display: grid;
        grid-template-columns: 4vw 1fr 2fr 1fr 2fr;
        grid-template-rows: auto auto 3.5em;
        grid-gap: 1ch;
      }

      .paginamedio .nombremedio{
        font-family: patagonian;
        font-size: 4em;
        grid-column: 3/6;
        grid-row: 1/2;
        text-align: left;
        margin-bottom: 0;
        margin-top: auto;
      }

      .paginamedio img.logomedio{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: left;
        width: 90%;
      }

      .paginamedio p.descripcionmedio{
        font-family: keepcalm;
        grid-column: 2/5;
        grid-row: 2/3;
        line-height: 1.5em;
        text-align: right;
        margin-right: 5em;
        z-index: 3;
        margin-top: 2em;
      }

      .paginamedio .fondoblanco{
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
        grid-column: 4/5;
        grid-row: 2/3;
        z-index: 2;
      }

      .paginamedio .calecita{
        grid-column: 4/6;
        grid-row: 2/3;
        background-color: #808384;
        height: 35vw;
        z-index: 1;
        margin-top: 0;
        padding-left: 0;
        display: grid;
        place-content: center;
      }

      .paginamedio .calecita ul{
        margin-top: 0;
        margin-bottom: 0;
      }

      .paginamedio .calecita ul li{
        display: none;
      }

      .paginamedio .calecita ul li.activo{
        display: block;
        width: 1000px;
      }

      .paginamedio .calecita img.fotosdelmedio{
        margin-top: 1em;
        margin-bottom: 1em;
        height: 100%;
        width: 100%;
        max-width: 45vw;
        max-height: 30vw;
        object-fit: contain;
      }

      .paginamedio .datosdelmedio{
        background-color: #e93e1f;
        grid-column: 1/6;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1.5fr repeat(3,1fr);
        grid-column-gap: 1em;
      }

      .paginamedio .datosdelmedio a, .datosdelmedio div{
        text-align: center;
        font-family: patagonian;
        font-size: large;
        text-decoration: none;
        color: black;
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .datosdelmedio a:hover, .datosdelmedio div:hover{
        color: white;
      }

      .datosdelmedio div{
        position: relative;
      }

      .datosdelmedio div ul{
        display: none;
        background-color: rgba(233, 62, 31, 0.7);
        padding-top: 10px;
        margin-top: 0px;
      }

      .navredes li{
        text-align: right;
        padding: .5em;
      }

      .datosdelmedio div.listaredes:hover{
        cursor: pointer;
      }

      .datosdelmedio div:hover > ul{
        display: block;
      }

      .titulonoticiasdelmedio{
        background-color: #808384;
      }

      .titulonoticiasdelmedio h3{
        color: white;
        margin-left: 5vw;
        font-size: xx-large;
        padding-top: 1em;
        padding-bottom: 0.5em;
      }

      .noticiasdelmedio ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4ch;
      }

       .noticiasdelmedio ul img{
         width: 100%;
       }

       .noticiasdelmedio ul h3{
           margin-bottom: 0.5em;
       }

       .noticiasdelmedio ul h3 a{
           font-size: large;
        }

    @media screen and (orientation: portrait) {
        .paginamedio{
          display: block;
        }

        .paginamedio img.logomedio{
          float: left;
          width: 20vw;
          margin-right: 1em;
        }

        .paginamedio p.descripcionmedio {
          line-height: 1.5em;
          text-align: right;
          margin-right: 1em;
          margin-top: 2em;
        }

        .paginamedio .nombremedio{
          font-family: patagonian;
          font-size: 3em;
          text-align: left;
          margin-bottom: 0.5em;
          margin-top: 0.5em;
        }

        .paginamedio .fondoblanco{
          display: none;
        }

        .paginamedio .calecita{
          display: grid;
          place-content: center;
          padding: 0;
          margin: 0;
        }

        .paginamedio .calecita ul li.activo{
          display: block;
          width: auto;
        }

        .paginamedio .calecita img.fotosdelmedio{
          margin-top: 1em;
          margin-bottom: 1em;
          height: 100%;
          width: 100%;
          max-width: 45vw;
          max-height: 30vw;
        }

        .paginamedio .datosdelmedio{
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 3.5em 3.5em;
          margin-top: 1em;
        }

        .datosdelmedio div ul{
          padding-top: 10px;
        }

      .noticiasdelmedio ul{
        display: block;
        margin-bottom: 0;
      }
      .noticiasdelmedio ul li{
        margin-bottom: 2em;
      }
    }

    /*a partir de aca subpagina de INICIO DE SESION,
    NUEVA CONTRASEÑA Y CREAR NUEVO USUARIO*/

      body.subpaginainiciosesion{
        display: block;
      }

      .subpaginainiciosesion .logo{
        padding-top: 2em;
      }

      .subpaginainiciosesion .logo h1{
        margin-top: 0;
      }

      .subpaginainiciosesion .clima{
        display: block;
      }

      .paginainiciosesion{
        font-family: keepcalm;
        position: relative;
      }

      .paginainiciosesion img.logocomecuco{
        position: absolute;
        top: -2em;
        left: 2em;
        width: 70vw;
        opacity: 0.3;
        z-index: 1;
      }

      #responsivelogo{
        position: fixed;
        top: 20px;
        left: 2em;
        height: 90vh;
        width: auto;
        opacity: 0.3;
        z-index: 1;
      }

      .paginainiciosesion h1{
        position: fixed;
        left: 10000px;
      }

      .paginausuario h1{
          margin-left: 5vw;
      }

      form.forminiciosesion{
        margin: 4vh auto 2vh 5vw;
        max-width: 80vw;
        position: relative;
        z-index: 2;
        display:grid;
        grid-row-gap: 2em;
        justify-items: right;
      }

      form.forminiciosesion div{
        justify-items: right;
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: right;
      }

      form.forminiciosesion div label{
        margin-bottom: 0.5em;
      }

      form.forminiciosesion input{
        display: inline;
        margin-left: 2em;
      }

      .input-group{
        position: relative;
      }

      form.forminiciosesion input:hover,
      form.forminiciosesion textarea:hover,
      form.forminiciosesion label:hover{
        cursor: pointer;
      }

      #verpassword{
        border-width: 1px;
        padding-top: 4px;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      #enlacenuevacontraseña{
        text-decoration: none;
        font-size: small;
        width: max-content;
      }

      form.forminiciosesion textarea{
        width:60vw;
        height: auto;
        min-height: 10em;
        display: block;
        margin-right: 0;
        margin-left: 2em;
      }

      #emailpublico{
        margin-bottom: 1em;
      }

      form.forminiciosesion input.submit{
        width: max-content;
      }

      @media screen and (orientation: portrait) {
          .paginainiciosesion{
            display: block;
          }

          form.forminiciosesion{
            margin: 4vh auto 2vh 5vw;
            max-width: 70vw;
            text-align: right;
            min-width: 221px;
          }

          .paginainiciosesion img.logocomecuco,
          .paginausuario img.logocomecuco{
            top: -1em;
            left: 1em;
            width: 90vw;
            opacity: 0.2;
            z-index: 0;
          }

          form.forminiciosesion input{
            display: block;
            margin-left: auto;
            margin-top: 1em;
          }

          form#nuevacontraseña{
            min-width: 290px;
          }

          #email{
            size: 20;
          }

          #formnuevousuario{
            margin: 4vh 5vw 2vh 2vw;
            max-width: 90vw;
            text-align: right;
            min-width: 221px;
          }

          form.forminiciosesion div {
            display: block;
          }

          form.forminiciosesion textarea{
            width:80vw;
            height: auto;
            margin-top:1em;
          }

          #responsivelogo{
            height: 90vh;
            width: auto;
            position: fixed;
            top: 20px;
            left: -50px;
          }
      }

      /*a partir de aca subpagina de USUARIO*/

        body.subpagusuario{
          display: block;
          font-family: keepcalm;
        }

        body.subpagusuario #logoUsuario{
          position: relative;
          z-index: 4;
        }

        .menusubusuario{
          display: grid;
          grid-template-areas: "logoUsuario topMenuUsuario";
          grid-template-columns: 50% 50%;
        }

        .subpagusuario #logoUsuario{
          grid-area: logoUsuario;
          padding-top: 2em;
        }

        .subpagusuario #topMenuUsuario{
          grid-area: topMenuUsuario;
        }

        .subpagusuario #topMenuUsuario ul{
          width: 90%;
          margin-right: 5vw;
          margin-left: auto;
          display: grid;
        }

        .subpagusuario #topMenuUsuario li{
          margin-right: 0;
        }

        body.subpagusuario .logo h1{
          margin-top: 0;
          text-overflow: clip;
        }

        .subpagusuario #climausuario{
          display: block;
        }

        form.FormEditUsuario{
          position: relative;
          margin-right: 0;
        }

        .CajaEditUsuario{
          display: grid;
          text-align: right;
        }

        .CajaEditUsuario .logomedio{
          position: absolute;
          left: 50px;
          opacity: 0.3;
          width: 30vw;
          z-index: 0;
        }

        #datosdelusuario li{
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: 0 5vw 1em auto;
          text-align: right;
          column-gap: 1em;
        }

        li.itempassword, li.itempassword2{
          position: relative;
        }

        input.submitLogousuario{
          justify-self: right;
        }

        #verpassword2{
          border-width: 1px;
          padding-top: 4px;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        li#AgregarFotosUsuario,
        li#AgregarLogoUsuario{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }

        #fotosdeusuario{
          display: inline-flex;
          max-width: 90vw;
          flex-wrap: wrap;
          flex-direction: row;
          margin-left: 5vw;
          margin-right: 5vw;
        }

        #fotosdeusuario li div{
          display: grid;
          position: relative;
          grid-template-areas: "img img"
                              "label checkbox";
          margin-right: 2em;
          margin-bottom: 2em;
        }

        #fotosdeusuario img{
          max-width: 20vw;
          grid-area: img;
        }

        #fotosdeusuario input{
          display: none;
        }

        #fotosdeusuario label{
          grid-area: label;
          color: red;
          margin-top: 0.5em;
        }

        input[type="checkbox"] + label:before {
	         content: "";
	         width: 13px;
	         height: 13px;
	         float: left;
	         margin: 0 0.5em 0 0;
	         border: 2px solid red;
	         background: #fff;
        }

        input[type="checkbox"]:checked + label:after {
          content: "";
          width: 6px;
          height: 3px;
          border: 3px solid red;
          float: left;
          margin-left: -1.35em;
          border-right: 0;
          border-top: 0;
          margin-top: 0.3em;
          transform: rotate(-55deg);
        }

        input[type="checkbox"]:checked ~ img.fotosdelmedio {
          opacity: 0.3;
        }

        input[type="checkbox"]:checked + label {
          display: inline;
        }

        input.submitusuario{
          margin-right: 5vw;
          margin-top: 2em;
        }

        div.noticiasdelmedio li div.paraEditarNoticia{
          position: relative;
        }

        div.noticiasdelmedio li a.botoneditarnoticia{
          display: block;
          font-size: 50px;
          color: red;
          text-decoration: none;
          position: absolute;
          top: -5px;
          cursor: pointer;
          right: 5px;
          rotate: 135deg;
        }

        div.noticiasdelmedio li div.fondobotonEditarnoticia{
          position: absolute;
          top: 10px;
          cursor: pointer;
          right: 15px;width: 50px;
          height: 50px;
          border-radius: 50px;
          background-color: rgba(255, 255, 255, 0.5);
        }

        textarea{
          resize: vertical;
        }

  @media screen and (orientation: portrait){
        .menusubusuario{
          display: grid;
          grid-template-areas: "logoUsuario"
                              "topMenuUsuario";
          grid-template-columns: auto;
        }

        #datosdelusuario li{
          display: inline-block;
        }

        #fotosdeusuario img{
          max-width: 30vw;
        }
      }

    /*a partir de aca subpagina de EDITAR NOTICIA*/

        #EditAudiosYVideos li{
          display: grid;
          grid-template-areas: "audio"
                              "checkbox";
          grid-template-columns: 1fr;
        }

        #eliminarEditAudiosyVideos{
          grid-area: audio;
        }

        #EditAudiosYVideos li label{
          grid-area: checkbox;
          color: red;
          margin-top: 0.5em;
        }

        #EditAudiosYVideos input{
          display: none;
        }

        input[type="checkbox"]:checked ~ div.Editaudiosyvideos {
          opacity: 0.3;
        }

        div.EditNoticia li{
          display: grid;
          grid-template-columns: 1fr 3fr;
          grid-column-gap: 1em;
          margin: 1em 5vw;
          text-align: right;
          }

        div.EditNoticia li textarea,
        div.EditNoticia li input,
        div.EditNoticia li label{
          cursor: pointer;
          margin: 0;
          max-width: 60vw;
          resize: none;
        }

        textarea#EditContenidoNoticia{
          resize: vertical;
        }

        div.EditNoticia li p{
          margin: 0;
          text-align: left;
        }

        div.EditNoticia li label{
          grid-column: 1/2;
        }

        div.EditNoticia li textarea:hover,
        div.EditNoticia li input:hover{
          border-color: blue;
        }

        #EditAutorNoticia, #EditFechaNoticia{
          max-width: 30ch;
        }

        form.EditFotosAudiosVideos li{
          display: block;
        }

        div.EditNoticia li.ListaAgregarFotosEditNoticia,
        div.EditNoticia li.ListaAgregarAudiosEditNoticia{
          display: none;
        }

      /*  #ListaAgregarFotosEditNoticia:empty ~ #ListaAgregarFotosEditNoticia1 {
          display: none;
        }
 :first-of-type

        #AgregarFotosEditNoticia input:valid ~ #ListaAgregarFotosEditNoticia2 {
            font-size: x-large;
        }

        div.EditNoticia li.ListaAgregarFotosEditNoticia:empty ~
        div.EditNoticia li.ListaAgregarAudiosEditNoticia{
          display: none;
        } */

        #ListaAgregarFotosEditNoticia:hover + li{
            display: grid;
          }

        .ListaAgregarFotosEditNoticia:hover + li{
            display: grid;
          }

        #EditFotosNoticia{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          grid-template-rows: auto;
          max-width: 90vw;
          margin-left: 5vw;
          margin-right: 5vw;
        }

        #EditFotosNoticia li div{
          display: grid;
          position: relative;
          grid-template-areas: "img img"
                              "label checkbox";
          margin-right: 2em;
          margin-bottom: 2em;
        }

        #EditFotosNoticia img{
          max-width: 20vw;
          grid-area: img;
        }

        #EditFotosNoticia input{
          display: none;
        }

        #EditFotosNoticia label{
          grid-area: label;
          color: red;
          margin-top: 0.5em;
        }

        input[type="checkbox"] + label:before {
	         content: "";
	         width: 13px;
	         height: 13px;
	         float: left;
	         margin: 0 0.5em 0 0;
	         border: 2px solid red;
	         background: #fff;
        }

        input[type="checkbox"]:checked + label:after {
          content: "";
          width: 6px;
          height: 3px;
          border: 3px solid red;
          float: left;
          margin-left: -1.35em;
          border-right: 0;
          border-top: 0;
          margin-top: 0.3em;
          transform: rotate(-55deg);
        }

        input[type="checkbox"]:checked ~ img.EditfotosdeNoticia {
          opacity: 0.3;
        }

        input[type="checkbox"]:checked + label {
          display: inline;
        }

        #EditAudiosYVideos label,
        #EditAudiosYVideos div.cuadrocontrol{
          text-align: left;
        }

        input.submitEditNoticia{
          margin-right: 0;
          margin-left: auto;
          display: block;
        }

    @media screen and (orientation: portrait){
       li#ListaAgregarFotosEditNoticia,
       li#ListaAgregarAudiosEditNoticia{
          display: grid;
          grid-template-columns: 1fr 1.5fr;
          grid-row-gap: 1em;
        }

        #eliminarEditAudiosyVideos{
          grid-template-columns: Auto;
        }


      }
